@import "tailwindcss";

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/BODONIB.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MyFontCondenced";
  src: url("./assets/fonts/BodoniMTCondensed.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFontNavbar";
  src: url("./assets/fonts/bodoni-book-bt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  line-height: 1.2;
  font-family: "libre bodoni";
}
p{
  line-height: 1.4;
  
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


input[type="range"].custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 14px;
  width: 14px;
  background: #DAA57B;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-top: -5px;
}

input[type="range"].custom-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: rgb(240, 238, 238);
  border-radius: 2px;
}

input[type="range"].custom-slider::-moz-range-thumb {
  height: 14px;
  width: 14px;
  background: #DAA57B;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

input[type="range"].custom-slider::-moz-range-track {
  height: 4px;
  background: white;
  border-radius: 2px;
}

