@import "tailwindcss";

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/BODONIB.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyFontCondenced";
  src: url("./assets/fonts/BodoniMTCondensed.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyFontNavbar";
  src: url("./assets/fonts/bodoni-book-bt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1 {
  line-height: 1.2;
}
p{
  line-height: 1.4;
}
/* 
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
} */

/* Track (white) */
/* input[type="range"]::-webkit-slider-runnable-track {
  background: white;
  height: 4px;
  border-radius: 5px;
}

input[type="range"]::-moz-range-track {
  background: white;
  height: 4px;
  border-radius: 5px;
} */

/* Thumb (circle) */
/* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #DAA57B;
  border-radius: 50%;
  margin-top: -6px; 
  border: none;
} */

/* input[type="range"]::-moz-range-thumb {
  background: #DAA57B;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: none;
} */


input[type="range"].custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 14px;
  width: 14px;
  background: #DAA57B;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  margin-top: -5px;
}

input[type="range"].custom-slider::-webkit-slider-runnable-track {
  height: 4px;
  background: rgb(240, 238, 238);
  border-radius: 2px;
}

input[type="range"].custom-slider::-moz-range-thumb {
  height: 14px;
  width: 14px;
  background: #DAA57B;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

input[type="range"].custom-slider::-moz-range-track {
  height: 4px;
  background: white;
  border-radius: 2px;
}

